
RewriteEngine On
RewriteBase /

RewriteRule ^bin/(.*)$ "/errors/418" [R,L]
RewriteRule ^config/(.*)$ "/errors/418" [R,L]
RewriteRule ^data/(.*)$ "/errors/418" [R,L]
RewriteRule ^i18n/(.*)$ "/errors/418" [R,L]
RewriteRule ^logs/(.*)$ "/errors/418" [R,L]
RewriteRule ^my_logs/(.*)$ "/errors/418" [R,L]
RewriteRule ^urlmap/(.*)$ "/errors/418" [R,L]
RewriteRule ^template/(.*)$ "/errors/418" [R,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /_.php?routemap=$1 [L,QSA]

RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^(.*)$ /_.php?routemap=$1 [L,QSA]
