<!DOCTYPE html>
<html>
    <head>
        <title>418 - I'm a teapot</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div align="center">
            <div style="padding:50px;width:800px;">
                <img src="/assets/images/errors/418.png" alt="image not found" style="float:left;padding-right:50px;border:1px;border-style:solid;border-color:black;"/>
                <div style="padding:50px;float:right;">
                    <h2>I'm a teapot</h2>
                    <h4>The resource that have been requested is a teapot.</h4>
                </div>
            </div>
        </div>
    </body>
</html>