<!DOCTYPE html>
<html>
    <head>
        <title>503 - Service unavailable</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div align="center">
            <div style="padding:50px;width:800px;">
                <img src="/assets/images/errors/503.png" alt="image not found" style="float:left;display:inline-block;"/>
                <div style="padding:50px;width:440px;display:inline-block;">
                    <h2>Service unavailable</h2>
                    <h4>The service is currently unavailable. Please retry later.</h4>
                </div>
            </div>
        </div>
    </body>
</html>
